In [18]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [4]:
data = pd.read_csv("ToyotaCorolla.csv")

In [5]:
data.head()

,Price,Age,Mileage,FuelType,Horsepower,MetColor,Automatic,Displacement,Doors,Weight
0,16605,23,29196,Diesel,90,1,0,122,3,2568
1,16913,23,45321,Diesel,90,1,0,122,3,2568
2,17159,24,25918,Diesel,90,1,0,122,3,2568
3,18389,26,29826,Diesel,90,0,0,122,3,2568
4,16913,30,23923,Diesel,90,0,0,122,3,2579

In [6]:
X= data[['Age','Mileage','FuelType','Horsepower','MetColor','Automatic','Displacement','Doors','Weight']]
y= data['Price']

In [7]:
X_moreFeature_numeric = pd.get_dummies(X, columns=['FuelType'],drop_first=True)

In [8]:
X_moreFeature_numeric.head()

,Age,Mileage,Horsepower,MetColor,Automatic,Displacement,Doors,Weight,FuelType_Diesel,FuelType_Petrol
0,23,29196,90,1,0,122,3,2568,1,0
1,23,45321,90,1,0,122,3,2568,1,0
2,24,25918,90,1,0,122,3,2568,1,0
3,26,29826,90,0,0,122,3,2568,1,0
4,30,23923,90,0,0,122,3,2579,1,0

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
lg= LinearRegression()

In [11]:
lg.fit(X_moreFeature_numeric,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [12]:
print(lg.intercept_)
print(lg.coef_)

-5049.4997057892
[-1.49983492e+02 -3.21095477e-02  7.37535066e+01  7.02095482e+01
  4.08761355e+02 -7.91602420e+01 -9.03200959e+00  1.11743629e+01
  3.99309453e+03  1.37754526e+03]

In [14]:
import statsmodels.api as sm
from scipy import stats
X_withConstant= sm.add_constant(X_moreFeature_numeric)
est= sm.OLS(y,X_withConstant)
est2=est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.869
Model:                            OLS   Adj. R-squared:                  0.868
Method:                 Least Squares   F-statistic:                     947.1
Date:                Sat, 12 Oct 2019   Prob (F-statistic):               0.00
Time:                        20:42:10   Log-Likelihood:                -12643.
No. Observations:                1436   AIC:                         2.531e+04
Df Residuals:                    1425   BIC:                         2.537e+04
Df Model:                          10
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const           -5049.4997   1592.215     -3.171      0.002   -8172.837   -1926.163
Age              -149.9835      3.203    -46.823      0.000    -156.267    -143.700
Mileage            -0.0321      0.003    -12.352      0.000      -0.037      -0.027
Horsepower         73.7535      7.018     10.509      0.000      59.987      87.520
MetColor           70.2095     92.214      0.761      0.447    -110.681     251.100
Automatic         408.7614    193.314      2.114      0.035      29.551     787.972
Displacement      -79.1602     10.457     -7.570      0.000     -99.672     -58.648
Doors              -9.0320     49.307     -0.183      0.855    -105.754      87.690
Weight             11.1744      0.672     16.632      0.000       9.856      12.492
FuelType_Diesel  3993.0945    625.371      6.385      0.000    2766.347    5219.842
FuelType_Petrol  1377.5453    408.997      3.368      0.001     575.244    2179.846
==============================================================================
Omnibus:                      273.419   Durbin-Watson:                   1.619
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2803.262
Skew:                          -0.569   Prob(JB):                         0.00
Kurtosis:                       9.750   Cond. No.                     1.83e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.83e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [15]:
y_pred = lg.predict(X_moreFeature_numeric)

In [19]:
print(np.sqrt(metrics.mean_squared_error(y, y_pred)))

1612.773636818585